:root {
    --section-rotate: 9vw;
}


/* Selection Styling */

::selection,
::-moz-selection {
    background-color: #398552;
    color: #fff;
}


/* Box Sizing and Resets */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: #777;
    padding: 3rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-weight: 300;
}


/* Utility Classes */

.flex {
    display: flex;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

.ma-bt-md {
    margin-bottom: 3rem !important;
}

.ma-bt-lg {
    margin-bottom: 3.5rem !important;
}

.right {
    text-align: right !important;
}

.line {
    margin: 6rem 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}


/* Alerts */

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-radius: 0 0 5px 5px;
    padding: 1.6rem 15rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.alert--success {
    background-color: #20bf6b;
}

.alert--error {
    background-color: #eb4d4b;
}


/* Headings */

.heading-secondary {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right, #45a370, #0d703b);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    line-height: 1.3;
    display: inline-block;
}

.heading-secondary--error {
    background: linear-gradient(to right, #ff7730, #eb4d4b);
    font-size: 3.5rem;
}

.heading-primary,
.heading-tertirary {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.heading-primary span,
.heading-tertirary span {
    padding: 1rem 1.5rem;
    line-height: 1;
    box-decoration-break: clone;
    background: linear-gradient( to bottom right, rgba(57, 133, 82, 0.75), rgba(30, 69, 43, 0.85));
}

.heading-primary {
    font-size: 5rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.heading-tertirary {
    font-size: 2.75rem;
    text-align: right;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    width: 70%;
    z-index: 10;
}


/* Buttons */

.btn,
.btn:link,
.btn:visited {
    font-size: 1.6rem;
    padding: 1.4rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
    font-weight: 400;
    backface-visibility: hidden;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
    background-color: #2e864b;
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--green {
    background-color: #398552;
    color: #fff;
}

.btn--small {
    padding: 1.25rem 3rem !important;
    font-size: 1.4rem !important;
}

.btn-small,
.btn-small:link,
.btn-small:visited {
    background-color: #398552;
    color: #fff;
    font-size: 1.4rem;
    padding: 1.25rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all 0.2s;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    border: none;
}

.btn-small:hover {
    background-color: #45a370;
}

.btn-text:link,
.btn-text:visited {
    color: #398552;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #398552;
    padding: 3px;
    transition: all 0.2s;
}

.btn-text:hover {
    background-color: #398552;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.btn-text:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-text:focus {
    outline: none;
    outline: 3px solid #398552;
    outline-offset: 3px;
}


/* Header */

.header {
    background-color: #444;
    padding: 0 5rem;
    height: 8rem;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 62.5em) {
    .header {
        flex-direction: column;
    }
}

.header__logo img {
    height: 3.5rem;
}

@media only screen and (max-width: 62.5em) {
    .header__logo {
        order: -1;
        margin-bottom: 1.5rem;
    }
}

.section-header {
    position: relative;
    height: 38vw;
    clip-path: polygon( 0 0, 100% 0, 100% calc(100% - var(--section-rotate)), 0 100%);
}

.header__hero {
    height: 100%;
}

.header__hero-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 50% 25%;
}

.header__hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, #45a370, #0d703b);
    opacity: 0.85;
}

.heading-box {
    position: absolute;
    bottom: 13vw;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.heading-box__group {
    color: #f7f7f7;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-box__detail {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

.heading-box__detail svg {
    margin-right: 0.8rem;
}

.heading-box__detail:not(:last-child) {
    margin-right: 4rem;
}

.heading-box__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
    filter: drop-shadow(0 0.75rem 0.5rem rgba(0, 0, 0, 0.25));
}


/* Section Description */

.section-description {
    background-color: #fcfcfc;
    margin-top: calc(0px - var(--section-rotate));
    display: flex;
}

.section-description>* {
    padding: 0 8vw;
    padding-top: 14vw;
    padding-bottom: calc(1vw + var(--section-rotate));
    flex: 0 0 50%;
}

.section-description>*:first-child {
    padding-right: 0;
}

.section-description>*:last-child {
    padding-left: 0;
}

.section-description__text {
    font-size: 1.5rem;
}

.section-description__text:not(:last-child) {
    margin-bottom: 2rem;
}

.section-description__pict {
    display: flex;
    justify-content: space-between;
}

.section-description__pict img {
    clip-path: polygon( 0 13%, 100% 0, 100% 86%, 0 99%);
    height: 25vw;
    width: 34vw;
}

.section-description__pict img:first-child {
    transform: translateY(10%);
}


/* Overview Box */

.overview-box {
    background-color: #fcfcfc;
    padding: 6rem 3rem;
}

.overview-box__group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.overview-box__group:not(:last-child) {
    border-bottom: 1px solid #ddd;
    margin-bottom: 4rem;
}

.overview-box__group>*:not(:last-child) {
    margin-right: 3rem;
}

.overview-box__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: currentColor;
    margin-right: 1rem;
}

.overview-box__detail {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
}

.overview-box__detail:not(:last-child) {
    margin-bottom: 0.5rem;
}


/* Reviews */

.reviews {
    background-color: #fcfcfc;
    padding: 8rem 0;
}

.reviews__card {
    width: 30%;
    margin: 0 auto;
    padding: 3rem 4rem 4rem 4rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff;
    position: relative;
}

.reviews__card img {
    width: 8rem;
    height: 8rem;
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

.reviews__card p {
    font-size: 1.5rem;
    margin-bottom: 1.75rem;
}

.reviews__card .reviews__user {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.5rem;
    text-align: center;
}

.reviews__user-name {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.75rem;
    letter-spacing: 0.5px;
}

.reviews__user-date {
    font-size: 1rem;
    color: #888;
}


/* Call to Action */

.cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cta__img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 100%;
    width: 100%;
    position: relative;
}

.cta__img img:first-child {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -35%;
}

.cta__img img:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.cta__content {
    padding: 8rem 4rem;
}

.cta__text {
    color: #777;
    font-size: 1.5rem;
}

.cta__text:not(:last-child) {
    margin-bottom: 2rem;
}


/* User View */

.user-view {
    padding: 8rem 0;
}

.user-view__content {
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfc;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.user-view__menu {
    flex: 0 0 18%;
    padding: 4rem 0;
    background-image: linear-gradient(to right bottom, #45a370, #0d703b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 10rem 100%);
}

.user-view__form-container {
    flex: 1;
    padding: 5rem 6rem;
}

.user-view__form-container h2 {
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.user-view__menu-label {
    display: inline-block;
    margin-bottom: 1rem;
}

.user-view__form {
    width: 75%;
}

.user-view__form input[type="text"],
.user-view__form input[type="email"],
.user-view__form input[type="password"],
.user-view__form textarea {
    font-size: 1.6rem;
    display: block;
    width: 100%;
    padding: 1.25rem 1.75rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #eee;
    border-radius: 2px;
}

.user-view__form input:focus,
.user-view__form textarea:focus {
    outline: none;
    background-color: #ddd;
}

.user-view__form button {
    background-color: #398552;
    color: #fff;
    border: none;
    padding: 1.25rem 3rem;
    font-size: 1.6rem;
    border-radius: 10rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
}

.user-view__form button:hover {
    background-color: #45a370;
}

.user-view__form button:focus {
    outline: none;
    background-color: #2e864b;
}


/* Footer */

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #444;
    color: #f7f7f7;
    padding: 4rem 0;
}

.footer__logo img {
    height: 3.5rem;
}

.footer__logo {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
}

.footer__nav {
    grid-column: 2 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.footer__nav li {
    margin: 0 1.5rem;
}

.footer__nav a {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}

.footer__nav a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 56.25em) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer__logo,
    .footer__nav {
        grid-column: 1 / -1;
    }
}